<Connection>
  <Servers>

    <Gameserver name = "french">
      <ip>51.75.236.170</ip>
      <port>5055</port>
    </Gameserver>

    <Gameserver name = "local">
      <ip>127.0.0.1</ip>
      <port>5055</port>
    </Gameserver>

    <Gameserver name = "evgen">
      <ip>192.168.0.22</ip>
      <port>5055</port>
    </Gameserver>

  </Servers>
</Connection>